<ion-view>
   <ion-content>
      <div ng-class="{pageActive:homePage}" class="homePage">
      <!-- header -->
      <div class="bar bar-header">
        <button class="button button-icon icon ion-android-add"></button>
        <div class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon" style="font-size: 28px;"></i>
          <input type="text" placeholder="菜名·食材·厨友" style="background-color: #eee;">
        </div>
        <button class="button button-icon icon ion-bag"></button>
      </div>
      <!-- header end-->

      <div class="list" style="margin-top: 43px;">
        <div class="item banner" style="padding: 10px;">
          <div class="bannerImg"><img src="./img/bannerImg1.png" /></div>
        </div>
        <div class="item item-divider"></div>
        <div class="item row">
         <div class="col listCol">
             <div class="listImg"><i class="iconfont">&#xe604;</i></div>
             <p>签到</p>
         </div>
         <div class="col listCol">
             <div class="listImg"><i class="iconfont">&#xe6b0;</i></div>
             <p>活动</p>
         </div>
         <div class="col listCol">
             <div class="listImg"><i class="iconfont">&#xe70a;</i></div>
             <p>视频</p>
         </div>
         <div class="col listCol">
             <div class="listImg"><i class="iconfont">&#xe621;</i></div>
             <p>菜谱</p>
         </div>
        </div>
        <div class="item item-divider"></div>
        <div class="item">
           <h2>达人推荐</h2>
           <div class="row rowMaster">
             <div class="col">
               <div class="masphoto"><img src="./img/beauty1.jpg" /></div>
               <p>卖葱饼</p>
             </div>
             <div class="col">
               <div class="masphoto"><img src="./img/beauty4.jpg" /></div>
               <p>童彤~</p>
             </div>
             <div class="col">
               <div class="masphoto"><img src="./img/beauty5.jpg" /></div>
               <p>薰衣草</p>
             </div>
             <div class="col">
               <div class="masphoto"><img src="./img/beauty2.jpg" /></div>
               <p>Lisqueen</p>
             </div>
             <div class="col">
               <div class="masphoto"><img src="./img/beauty.jpg" /></div>
               <p>慧儿</p>
             </div>
          </div>
      </div>
      <div class="item item-divider"></div>

      <div class="list card"  >
         <div class="item-image">
           <img src="./img/noddle.jpg" />
         </div>
         <div class="item item-avatar">
            <img src="./img/beauty.jpg" />
            <h2>送你一碗浪漫的---意大利海鲜面</h2>
            <p>
              用超市就能买到的食材<br>
              轻松打造一份浪漫的晚餐~
            </p>
            <p style="text-align: right;">
             <a href="#" class="subdued"><span>254</span>人 收藏</a>
            </p>
         </div>
      </div>

      <div class="list card">
         <div class="item-image">
           <img src="./img/pudding.jpg" />
         </div>
         <div class="item item-avatar">
            <img src="./img/beauty3.jpg" />
            <h2>月光族必备，吃土吃出新高度</h2>
            <p>
              这是一款颜值超高的甜品~<br>
              外边卖的木糠杯，吃起来太过甜腻~
            </p>
            <p style="text-align: right;">
             <a href="#" class="subdued"><span>68</span>人 收藏</a>
          </p>
         </div>
      </div>

      <div class="list card">
         <div class="item-image">
           <img src="./img/shaomai.jpg" />
         </div>
         <div class="item item-avatar">
            <img src="./img/beauty2.jpg" />
            <h2>皮薄肉嫩的 纯肉烧麦</h2>
            <p>
              猪肉具有补虚强身，滋阴润身作用~<br>
              省事有好吃，懒人和新手别错过哟~
            </p>
            <p style="text-align: right;">
             <a href="#" class="subdued"><span>333</span>人 收藏</a>
          </p>
         </div>
      </div>
    </div>

   </ion-content>
</ion-view>
     