<ion-view>
  <ion-content>
     <div class="minePage">
      <div class="bar bar-header bar-light">
        <button class="button button-icon ion-email"></button>
        <h1 class="title">我的</h1>
        <button class="button button-icon ion-ios-gear-outline"></button>
      </div>
      <div class="list">
        <div class="item" style="margin-top: 42px;">
           <div class="mineHead"><img src="./img/Beauty5.jpg" /></div>
           <h3>你还没登录喔！</h3>
           <button class="button button-royal button-small">马上登录</button>
        </div>
        <div class="item-divider"></div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: #ffed00;">&#xe608;</i>
           我的收藏
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: #ff5252;">&#xe607;</i>
           我的喜好设置
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: #00b4fd;">&#xe69f;</i>
           菜篮子
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item-divider"></div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: #cc00cc;">&#xe8ca;</i>
           我的厨币
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: orange">&#xe636;</i>
           我的订单
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: green;">&#xe6b0;</i>
           我的课程
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item-divider"></div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: blue;">&#xe660;</i>
           添加好友
           <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item-divider"></div>
        <div class="item item-icon-right">
           <i class="iconfont" style="color: pink;">&#xe61d;</i>
           意见反馈
           <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>