<ion-view>
  <ion-content>
     <div class="teachPage">
       <div class="bar bar-header bar-light">
          <h1 class="title">教学</h1>
       </div>
       <div class="row" style="margin-top: 43px; text-align: center;">
         <div class="col zaixian" ng-click="zaixian($event)">在线直播</div>
         <div class="col" ng-click="xianxia()">线下课程</div>
       </div>

       <div class="list card" style="margin-top: 0px;">
         <div class="item-image">
           <img src="./img/sweet.jpg" />
         </div>
         <h5 style="margin-left: 15px;">小王子雪糕装饰</h5>
         <div class="item item-avatar">
            <img src="./img/beauty.jpg" />
            <p>maicongb</p>
            <p style="text-align: right;">
             <a href="#" class="subdued">学费：免费</a>
            </p>
         </div>
      </div>
      <div class="list card" style="margin-top: 0px;">
         <div class="item-image">
           <img src="./img/youyu.jpg" />
         </div>
         <h5 style="margin-left: 15px;">烤鱿鱼的真正意义</h5>
         <div class="item item-avatar">
            <img src="./img/beauty3.jpg" />
            <p>lisqueen</p>
            <p style="text-align: right;">
             <a href="#" class="subdued">学费：免费</a>
            </p>
         </div>
      </div>

    </div>
  </ion-content>
</ion-view>

    
